body {
  background-color: rgb(32, 32, 32);
  color: white;
  padding: 5px;
  margin: 0 auto;
  max-width: 1250px;
  font-family: "Poppins", sans-serif;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

#title span {
  color: rgb(132, 14, 201);
  border-style: solid;
  border-bottom-width: 2px;
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
}

#title h1 {
  flex-direction: column;
  line-height: 50px;
  font-size: 50px;
}

li {
  display: inline-block;
  margin: 20px;
}

a {
  color: white;
  text-decoration: none;
}

h2 {
  font-size: 56px;
  line-height: 55px;
}

p {
  /*O "max-width" serve para colocar o tamanho que o texto vai ocupar na tela. */
  line-height: 20px;
  max-width: 500px;
}

span {
  color: rgb(132, 14, 201);
}

.main {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

form {
  display: flex;
  flex-direction: column;
  width: 70%;
}

input {
  /*Padding no input serve para mostrar o tamanho da "caixa" do inserir*/
  margin-top: 20px;
  height: 20px;
  padding: 15px;
  border-radius: 20px;
  border: none;
  font-size: 15px;
  padding-left: 35px;
  width: 100%;
}

img {
  width: 580px;
}

#inscreva {
  border: 2px solid rgb(132, 14, 201);
  padding: 10px;
  border-radius: 15px;
}

.contat {
  font-size: 17px;
}

#icon-person {
  position: absolute;
  top: 32px;
  left: 5px;
}

#input-name {
  position: relative;
}

#input-tel {
  position: relative;
}

#icon-tel {
  position: absolute;
  top: 32px;
  left: 5px;
}

#input-email {
  position: relative;
}

#icon-email {
  position: absolute;
  top: 32px;
  left: 7px;
}

#btn-enviar {
  height: 50px;
  width: 50%;
  background-color: rgb(132, 14, 201);
  color: white;
  font-weight: bold;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  padding: 0px;
}
